In [ ]:
A = 10
B = 5
C = A + B
D = B / A

In [16]:
4 < 5
10 > 100
4 == 5

False

In [19]:
while False:
    print ("Hello")

In [18]:
counter = 0;
while counter < 12:
    print (counter)
    counter = counter + 1

0
1
2
3
4
5
6
7
8
9
10
11

In [20]:
for i in range (5):
    print("Hello Python", i)

Hello Python 0
Hello Python 1
Hello Python 2
Hello Python 3
Hello Python 4

In [21]:
mylist = [10, 100, 1000]
for j in mylist:
    print("j is equal to: ", j)

j is equal to:  10
j is equal to:  100
j is equal to:  1000

In [12]:
import numpy as np
from numpy.random import randn
N = 100
counter = 0
for i in randn(100):
    if (i > -0.30 and i < 0.30):
        counter = counter+1
answer = counter / N
print (counter)

17

In [112]:
#--- List and Arrays

In [22]:
myFirstList = [3, 45, 56, 732]
mySecondList = ["hello", 24, True, 55.3]
myThirdList = ['how are you?', 55, myFirstList]
print (myThirdList)

['how are you?', 55, [3, 45, 56, 732]]

In [25]:
range(15) # in Python 3 - this is the same as xrange() in Python 2 - which is an iterator and not stored values
list(range(15)) # this will store the values

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [34]:
x = list(range(8))
y = list(range(1,8))
z = list(range(1,92,10))

[1, 11, 21, 31, 41, 51, 61, 71, 81, 91]

In [42]:
w = ['a', 'b', 'c', 'd']
w[1] # prints b
len(w) # prints 4
w[len(w)-1] # prints d
w[-4] # prints a - different from R - which does not have negative indexation

'a'

In [52]:
letters = ['A', 'B', 'C', 'D', 'F', 'G', 'H', 'I']
letters[2:9]
letters[2:9:2]
letters[-6:-2]
letters[-2:-6:-1]

['H', 'G', 'F', 'D']

In [54]:
tuple1 = (345, 456, 567) # tuples cannot be changed
tuple1[1]

456

In [59]:
mylist1 = list(range(20,31))
type(mylist1)
min(mylist1)
max(mylist1)

30

In [85]:
#import scrappy
#from scrappy.crawler import CrawlerProcess
import numpy as np
ar1 = [2345, 3455, 5343, 5664]
a = numpy.array(ar1)
ar2 = [12, 455, 63.3, True, "abc"]
b = numpy.array(ar2)
a.mean()

4201.75

In [97]:
a = ([23245, 27, 111, 345, -1234])
b = a[2:4] # does not create a copy of the array (unlike a list)
print(b)

[111, 345]

In [102]:
a = [1,2,3]
b = [4,5,6]
ab = []
for i in range(0, len(a)):
    ab.append(a[i] == b[i])
ab

[False, False, False]

In [103]:
#--- Matrices

In [104]:
import numpy as np
mydata = np.arange(0,20)
np.reshape(mydata, (5,4)) # default is opposite to R (left to right instead of downward)
np.reshape(mydata, (5,4), order='C')

array([['I', 'am', 'happy'],
       ['What', 'a', 'day'],
       ['1', '2', '3']], dtype='<U5')

In [105]:
np.reshape(mydata, (5,4), order='F') # fortran instead of c - which is downward like R

array([[ 0,  5, 10, 15],
       [ 1,  6, 11, 16],
       [ 2,  7, 12, 17],
       [ 3,  8, 13, 18],
       [ 4,  9, 14, 19]])

In [106]:
mydata.reshape((5,4)) # the methods are in the object (as OO)

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19]])

In [108]:
r1 = ["I", "am", "happy"]
r2 = ["What", "a", "day"]
r3 = ["1", "2", "3"]
np.array([r1, r2, r3])

array([['I', 'am', 'happy'],
       ['What', 'a', 'day'],
       ['1', '2', '3']], dtype='<U5')

In [110]:
#--- Dictionaries

In [111]:
dict1 = {'key1':'val1','key2':'val2','key3':'val3'}
dict1['key2']

'val2'